; Set a new registry for a scoped package
@prisma-solutions-engineering:registry=https://api.keygen.sh/v1/accounts/f3a113f7-0976-4fa7-9c9a-be7e17ca149f/artifacts/
//api.keygen.sh/v1/accounts/f3a113f7-0976-4fa7-9c9a-be7e17ca149f/artifacts/:_authToken=YOUR_AUTH_TOKEN_HERE